<div ng-show="false">
    <div class="right-body-header">

        <h2>设备当前状态监控</h2>
        <div class="tip-header">
            <span>车间:{{workshop}}</span>
            <span>状态:{{selectstatus}}</span>
        </div>
    </div>
    <div class="right-body-chart">
        <div id="right-body-table">
            <table>
                <tr><th>设备状态</th><th>数量</th><th>占比</th></tr>
                <tr ng-repeat="item in statusdata|orderBy:'value':true">
                    <td>{{item.name}}</td>
                    <td>{{item.value}}</td>
                    <td>{{item.proportion*100|number:0}}%</td>
                </tr>
            </table>
        </div>
        <div id="right-body-pie">

        </div>
    </div>
    <div class="right-body-workshop">
        <div style="width:80%;height:4000px">
            <ul>
                <li class="fill-parent" ng-repeat="workshopdata in allData" ng-show="checkWs.indexOf(workshopdata.wsID)>-1">
                    <div class="workshop">
                        <div class="workshopname">{{workshopdata.wsname}}</div>
                        <div class="workshopdetail">
                            <div>{{workshopdata.deviceID}}</div>
                            <ul>
                                <li class="device" ng-repeat="item in workshopdata.devicedata" ng-show="checkDevice.indexOf(item.deviceID)>-1 && (selectstatus.number=='00' || item.status==selectstatus.number)">
                                   <div class="content" ng-class="{'01':'img-run','02':'img-pause','03':'img-stop','-999':'img-offline'}[item.status]" ng-mouseenter=showmsg(workshopdata.wsID,item.deviceNumber) ng-mouseleave=hidemsg()>
                                    </div>
                                    <div class="deviceName">{{item.deviceName.length>4?item.deviceName.substr(0,3)+"...":item.deviceName}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="devicedetail" ng-show="isShowTips" style="left:{{tipleft}};top:{{tipTop}}">

    <ul>
        <li ng-repeat="item in allData|filter:{wsID:selectWsID}">
            <ul>
                <li ng-repeat="devicedata in item.devicedata|filter:{deviceNumber:selectDeviceNumber}">
                    <p>设备编号:{{devicedata.deviceNumber}}</p>
                    <p>设备名称:{{devicedata.deviceName}}</p>
                    <p>设备状态:{{devicedata.statusName}}</p>
                    <p>对应工单:{{devicedata.deviceICMO}}</p>
                    <p>产品代码:{{devicedata.itemNumber}}</p>
                    <p>产品名称:{{devicedata.itemName}}</p>
                    <p>规格型号:{{devicedata.itemModel}}</p>
                    <p>计划生产数量:{{devicedata.planQty}}</p>
                    <p>已完成数量:{{devicedata.completeQty}}</p>
                    <p ng-class="{'-1':'warn-para','1':'warn-para'}[paravalue.FStatus]" ng-repeat="(paraname,paravalue) in devicedata.devicepara">{{paravalue.FCollectTypeName}}:{{paravalue.AvgValue}}</p>
                </li>
            </ul>
        </li>
    </ul>

</div>
<div ng-show="true" id="new_status">
    <div id="content-body">
        <div id="left-body">
            <div id="left-body-top " >
                <div class="tip-title">
                    设备状态统计
                </div>
                <div id="left-top-box" class="div-have-border ">
                    
                    <div ng-repeat="item in statusdata" class="bottom-border">
                        <div class="box-header">{{item.tableName}}</div>
                        <div class="status-detail">
                            <span class="big-number normal-text">{{item.value}}</span>
                            <span class="normal-text">台</span>
                        </div>

                    </div>
                    <!--<div class="bottom-border">
                        <div class="box-header">空闲机床</div>
                        <div class="status-detail">
                            <span class="big-number normal-text">{{statusdata1[1]}}</span>
                            <span class="normal-text">台</span>
                        </div>
                    </div>-->
                    <div >
                        <div class="box-header">今日总报警次数</div>
                        <div class="status-detail">
                            <span class="big-number warn-text">{{warnInfo.length}}</span>
                            <span class="warn-text">次</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-body-bottom ">
                <div class="tip-title ">报警信息</div>
                <div class="div-have-border fix-height">
                    <div class="box-header bottom-border">
                        <div>设备代码</div>
                        <div>报警原因</div>
                        <div>持续时长(s)</div>
                    </div>
                    <div class="tip-nodata" ng-show="warnInfo.length==0">没有数据</div>
                    <table class="bottom-table">
                        <tr ng-repeat="item in warnInfo"  ng-show="checkDevice.indexOf(item.FDeviceID.toString())>-1">
                            <td>{{item.FNumber}}</td>
                            <td>{{item.FReason}}</td>
                            <td>{{item.FSeconds}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>
        </div>
        <div id="mid-body">
            <div class="tip-title">设备当前状态</div>
            <div id="mid-body-content" class="div-have-border">
                <div class="right-body-workshop">
                    <ul>
                        <li class="fill-parent" ng-repeat="workshopdata in allData" ng-show="checkWs.indexOf(workshopdata.wsID)>-1">
                            <div class="workshop">
                                <div class="workshopname">{{workshopdata.wsname}}</div>
                                <div class="workshopdetail">
                                    <div>{{workshopdata.deviceID}}</div>
                                    <ul>
                                        <li class="device" ng-repeat="item in workshopdata.devicedata" ng-show="checkDevice.indexOf(item.deviceID)>-1 && (selectstatus.number=='00' || item.status==selectstatus.number)">
                                            <div class="content" ng-class="{'02':'img-run','03':'img-pause','04':'img-stop','01':'img-offline'}[item.status]" ng-mouseenter=showmsg(workshopdata.wsID,item.deviceNumber) ng-mouseleave=hidemsg()>
                                            </div>
                                            <div class="deviceName">{{item.deviceName.length>4?item.deviceName.substr(0,3)+"...":item.deviceName}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="right-body">
            <div id="right-body-chart">
                <div class="tip-title">状态占比饼图</div>
                <div id="new-pie" class="div-have-border">

                </div>
            </div>
            <div id="run-rate" >
                <div class="tip-title">运行率TOP图</div>
                <div id="tight-body-table" class="div-have-border box-bottom">

                    <div class="box-header bottom-border">
                        <div>设备代码</div>
                        <div>设备名称</div>
                        <div>运行率</div>
                    </div>
                    <table class="bottom-table">
                        <tr ng-repeat="item in DeviceRunInfo | orderBy:item.FRunRate:'desc'" ng-show="checkDevice.indexOf(item.FInterID.toString())>-1">
                            <td >{{item.FNumber}}</td>
                            <td >{{item.FName}}</td>
                            <td >{{item.FRunRate*100}}%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>