<div id="content-right-submenu">
    <ul>
        <li><a href="javascript:" ng-click="subClick(1)" ng-class="{true:'selected',false:''}[subIndex==0]">设备OEE</a></li>
        <li><a href="javascript:" ng-click="subClick(2)" ng-class="{true:'selected',false:''}[subIndex==1]">设备状态时长分布</a></li>
        <li><a href="javascript:" ng-click="subClick(3)" ng-class="{true:'selected',false:''}[subIndex==2]">报警记录查询</a></li>
        <li><a href="javascript:" ng-click="subClick(4)" ng-class="{true:'selected',false:''}[subIndex==3]">设备参数查询</a></li>
    </ul>
</div>
<div ui-view></div>






